### Проверка того, что наше api работает

Перед началом необходимо собрать docker-образ и запустить контейнер

1. Следовать инструкциям https://github.com/fimochka-sudo/GB_docker_flask_example/blob/main/README.md
2. Далее уже запускать код ниже

In [33]:
# !pip install -U scikit-learn

In [34]:
import pandas as pd
from sklearn.metrics import roc_auc_score,roc_curve
from urllib import request, parse

X_test = pd.read_csv("X_test.csv")
y_test = pd.read_csv("y_test.csv")

In [35]:
X_test[['description', 'company_profile', 'benefits']].head(3)

,description,company_profile,benefits
0,Stylect is a dynamic startup that helps helps ...,NaN,We are negotiable on salary and there is the p...
1,General Summary: Achieves maximum sales profit...,NaN,Great Health and DentalFast Advancement Opport...
2,"At ustwo™ you get to be yourself, whilst deliv...",ustwo offers you the opportunity to be yoursel...,NaN

In [94]:
import urllib.request
import json      


def get_prediction(x):
    description, company_profile, benefits = x
    body = {'description': description, 
            'company_profile': company_profile,
            'benefits': benefits
            } 

    myurl = "http://192.168.1.189:8180/predict"
    req = urllib.request.Request(myurl)
    req.add_header('Content-Type', 'application/json; charset=utf-8')
    jsondata = json.dumps(body)
    jsondataasbytes = jsondata.encode('utf-8')   # needs to be bytes
    req.add_header('Content-Length', len(jsondataasbytes))
    #print (jsondataasbytes)
    response = urllib.request.urlopen(req, jsondataasbytes)
    return json.loads(response.read())['predictions']

In [52]:
# get_prediction(1,10,1,1)

In [ ]:
%%time
predictions = X_test[['description', 'company_profile', 
                      'benefits']].iloc[:10].apply(lambda x: get_prediction(x), 1)

In [ ]:
predictions

In [ ]:
roc_auc_score(y_score=predictions.values, y_true=y_test.iloc[:500])

In [ ]:
#X_test[['description', 'company_profile', 'benefits']].head(3)

Давайте подумаем, где наше api может сломаться

In [ ]:
get_prediction(("", None, None))

In [ ]:
get_prediction(("", "", ""))